.caseStudiesHeading {
  font-size: clamp(36px, 11vw, 45px);
}

@media (min-width: 768px) {
  .caseStudiesHeading {
    font-size: clamp(50px, 6.4vw, 60px);
  }
}

@media (min-width: 1024px) {
  .caseStudiesHeading {
    font-size: 65px;
  }
}

@media (min-width: 1024px) and (max-width: 1100px) {
  .caseStudiesHeading {
    font-size: 56px;
  }
}
