.caseStudiesHeading {
  font-size: clamp(36px, 11vw, 45px);
}

.featuredCaseStudy {
  transform-origin: center bottom;
  will-change: transform, opacity, clip-path;
}

@media (max-width: 1300px) {
  .featuredCaseStudyTitle {
    font-size: 20px;
  }

  .featuredCaseStudyLastDescription {
    display: none;
  }
}

@media (min-width: 768px) {
  .caseStudiesHeading {
    font-size: clamp(50px, 6.4vw, 60px);
  }
}

@media (min-width: 1024px) {
  .caseStudiesHeading {
    font-size: 65px;
  }
}

@media (min-width: 1024px) and (max-width: 1100px) {
  .caseStudiesHeading {
    font-size: 56px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .featuredCaseStudy {
    clip-path: none !important;
    transform: none !important;
  }
}
